@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-family: 'Electrolize', 'M PLUS 1p', sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-size: 1.5rem;
  min-width: 320px;
}
li {
  list-style: none;
}

body.ja .en {
  display: none;
}
body.en .ja {
  display: none;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: #E0D7CB;
  background-image: linear-gradient(0, #E0D7CB 0px, transparent 150px), url('../img/lp/header_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.header-content {
  width: 60%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 2;
}
.header-chara {
  width: 40%;
}

.headerLogo {
}
.headerBody {
  padding: 0 20px;
}

.charaList {
  margin: 0 0 -170px -50px;
  display: flex;
  align-items: flex-end;
  max-width: 600px;
}
.charaList-item:nth-child(2) {
  margin: 0 -37% 0 -23%;
  z-index: 1;
}

.buttonList {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  max-width: 560px;
}
.buttonList-item {
  margin: auto 10px;
}
.buttonList-item img {
  max-height: 50px;
}

.gameInfo {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  max-width: 560px;
  text-shadow: 0 0 2px #FFF, 0 0 2px #FFF, 0 0 2px #FFF, 0 0 2px #FFF, 0 0 2px #FFF;
}
.infoDataList {
  margin: auto 10px;
}
.infoDataList-item-term,
.infoDataList-item-desc {
  display: inline-block;
}
.releaseDate {
  margin: auto 10px;
  font-size: 1.8rem;
  text-align: center;
}

.lang {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 15px 20px;
  background: #000;
}
.lang-item {
  margin: 0 5px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}
body.en .changeLang[data-lang="en"] {
  color: #AACC22;
}
body.ja .changeLang[data-lang="ja"] {
  color: #AACC22;
}

.scroll {
  position: absolute;
  left: 50%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #FFF;
  transform: translateX(-50%);
  transition: 0.2s;
}
.scroll-icon {
  margin-top: 3px;
  width: 22px;
  height: 35px;
  padding: 3px;
  border: 2px solid;
  border-radius: 12px;
}
.scroll-icon::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid;
  border-radius: 12px;
  transition: 0.2s;
  animation: scrollIcon 1s infinite;
}
@keyframes scrollIcon {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.article {
  padding: 120px 20px;
}
.article-content {
  margin: auto;
  display: flex;
  max-width: 1200px;
}
.article-content-title {
  width: 30%;
}
.article-content-body {
  width: 70%;
}
.articleHeading {
  position: relative;
  font-size: 3.5rem;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.6em;
  transition: 0.5s 0.3s;
}
.articleHeading::before {
  position: absolute;
  top: 18px;
  left: calc(-100vw + -18px);
  content: '';
  display: block;
  width: 100vw;
  border-top: 1px solid;
}

.story {
  background-image: url('../img/lp/bg_story.png');
  background-position: right bottom;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #000;
  line-height: 3em;
  color: #FFF;
}
.story .article-content-title {
  background-image: url('../img/lp/emblem.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 70%;
}

.history {
  margin-bottom: 50px;
  font-size: 1.8rem;
  color: #DDD;
  max-width: 610px;
  transition: 1s;
}
.history .ref {
  font-size: 1.6rem;
  text-align: right;
}
.introduction {
  transition: 1s 0.5s;
}
.introduction h3 {
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: normal;
}
.introduction p {
  font-size: 2rem;
}

.trailer {
  display: block;
  margin-bottom: 6%;
  transition: 0.5s 0.3s;
}
.screenShotList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.screenShotList-item {
  width: 47%;
  margin-bottom: 6%;
  transition: 0.5s 0.3s;
}
.screenShotList-item-wrapper.selected {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.screenShotList-item img {
  display: block;
}

.play {
  padding: 80px 20px;
  background-color: #000;
  text-align: center;
  color: #FFF;
}
.play-heading {
  margin-bottom: 40px;
  font-size: 3.5rem;
  font-weight: normal;
  letter-spacing: 0.6em;
  text-indent: 0.6em;
  transition: 0.5s 0.3s;
}
.play .buttonList {
  margin: 40px auto;
  max-width: 720px;
}
.play .buttonList-item {
  margin: auto 20px;
}
.play .buttonList-item img {
  max-height: 60px;
}
.dataList-term,
.dataList-desc {
  display: inline;
  font-size: 1.3rem;
}
.dataList-term:not(:first-child) {
  margin-left: 1em;
}

.shareUrl {
  width: 500px;
  position: relative;
}
.shareUrl-input {
  width: 100%;
  padding: 15px 18px;
  font-size: 1.6rem;
  color: #555;
  border: 2px solid #AAA;
}
.shareUrl-copy {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  cursor: pointer;
}
.shareUrl-copied {
  position: absolute;
  top: 13px;
  right: -77px;
  padding: 4px 7px;
  background: #000;
  color: #FFF;
  transition: opacity 0.2s;
}

.footer {
  position: relative;
  padding: 80px 0;
  background: #000;
  text-align: center;
  color: #FFF;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer small {
  display: block;
  font-size: 10px;
  color: #777;
}
.footer .copy {
  margin-top: 30px;
  font-size: 12px;
  color: #AAA;
}
.totop {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 3px solid #777;
  transform: rotate(45deg);
  cursor: pointer;
}
.totop::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #777;
  border-right: transparent;
  border-bottom: transparent;
}
.banner {
  margin-top: 30px;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 7px;
  }
  .header {
    padding-top: 50px;
    padding-bottom: 0;
    flex-direction: column;
    background-size: 200%;
    background-position: center top;
  }
  .header-chara {
    position: absolute;
    bottom: 0;
  }
  .header-content,
  .header-chara {
    width: 100%;
    max-width: 100%;
  }
  .headerLogo {
    margin: auto;
    max-width: 500px;
    padding: 20px 20px 55%;
  }
  .headerBody {
    padding: 0 5px 30px;
    background-image: linear-gradient(0, rgba(60, 80, 100), transparent);
  }
  .charaList {
    margin: 0 0 -50px;
    max-width: 450px;
  }
  .buttonList-item {
    margin: auto 5px;
  }
  .lang {
    padding: 10px 15px;
  }
  .article {
    padding: 80px 40px;
  }
  .article-content {
    flex-direction: column;
  }
  .article-content-title,
  .article-content-body {
    width: 100%;
  }
  .articleHeading {
    margin-bottom: 50px;
  }
  .story .article-content-title {
    background: none;
  }
  .play .buttonList-item {
    margin: auto 5px;
  }
  .shareUrl-copied {
    top: -30px;
    right: 0;
  }
  .footer-logo {
    width: 100px;
  }
  .totop {
    width: 50px;
    height: 50px;
  }
  .totop::before {
    width: 15px;
    height: 15px;
  }
}

/* animations */
.slideIn {
  opacity: 0;
  transform: translateX(-200px);
}
.transparent {
  opacity: 0;
}
.letterAnim {
  letter-spacing: 2em;
  text-indent: 2em;
  opacity: 0;
}
